
  <script>
    var ready;
    ready = function() {
      $(".main").onepage_scroll({
        sectionContainer: "section",
        responsiveFallback: 600,
        loop: true
        });
      };
    $(document).ready(ready);
    $(document).on('page:load', ready);
  </script>

  <div class="wrapper">
    <div class="main">
      
      <section class="page1">
        <div class="page_container">
          <h1>Blauverschiebung</h1>
          <p class="credit">Hello! My name is Ryan Wieghard and I am a full-stack developer, programmer and technologist. Here are some things I have worked on:</p>
        </div>
      </section>
      
      <section class="page2">
        <div class="page_container">
          <h1>FLS International</h1>
          <h2>Working with the established ESL company FLS International, I built a full-stack RoR 4 application handling class enrollment, application, and navigation of the many school campuses.</h2>
         <%=link_to "View the Site", 'https://fls.net/' %>
        </div>
      </section>
      
      <section class="page3">
        <div class="page_container">
          <h1>kleinGroß</h1>
          <h2>A Swift app which generates instructional scores for point music (music of dynamic changes). The app uses a simple Markov table to generate sentences of three sonic events.</h2>
          <%=link_to "See a demo", 'https://www.youtube.com/watch?v=JCnOQEy3c80' %>
        </div>
      </section>

      <section class="page2">
        <div class="page_container">
          <h1>itsmyseat.com</h1>
          <h2>Helped add features to interactive ticket diagrams, such as allowing for drag-select of many seats, reserving seats through different user actions. Setting up print configuration for tickets, as well as generating the tickets themselves using GoJS interactive JS diagram library.</h2>
          <%=link_to "View the site", 'http://www.itsmyseat.com' %>
        </div>
      </section>

    </div>
  </div>